* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cards {
  width: 100%;
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  padding: 16px;
  border: 1px solid #333;
}
.card img {
  width: 100%;
}
.card button {
  padding: 8px 16px;
  font-size: 16px;
}
.card p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
