* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gallery {
  display: grid;
  list-style-type: none;
  padding: 0;
  margin: 0;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

figure {
  width: 100%;
  height: 100%;
  position: relative;
  /* 重なり合わせには注意 */
  z-index: 1;
}
figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
  color: #fff;
  /* 重なり合わせには注意 */
  z-index: 1;
  /* background-imageはtransitionにサポートされていない */
  /* transition: background-image 1s ease-in-out; */
}
/* figure:hover figcaption {
  background-image: linear-gradient(
    180deg,
    rgba(21, 22, 24, 0.24) 0%,
    #151618 100%
  );
} */
figcaption::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    180deg,
    rgba(21, 22, 24, 0.24) 0%,
    #151618 100%
  );
  /* 重なり合わせには注意 */
  z-index: -1;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
figure:hover figcaption::before {
  opacity: 1;
}
figcaption main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}
figure footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

figure main,
figure footer {
  opacity: 0;
}
figure:hover main,
figure:hover footer {
  opacity: 1;
}
