* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 多段レイアウト */
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.image {
  /* 半分の横幅で間に40pxの余白を2つで分かち合う */
  width: calc(50% - 40px * 1 / 2);
  margin-right: 40px;
  margin-bottom: 20px;
}
.image img {
  width: 100%;
}
/* 2と4が対象 */
.image:nth-child(2n) {
  margin-right: 0;
}
/* 3と4が対象 */
.image:nth-child(n + 2) {
  margin-bottom: 0;
}
