* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background: #333;
  max-width: 100%;
}
ul {
  list-style: none;
  display: flex;
}
/* flexを指定していると上手くいかないことがあるので注意 */
/* li {
  flex: 1 1 150px;
} */
a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 8px 16px;
  width: 100%;
  text-align: center;
}
a:hover {
  background: #666;
}
/* .contact {
  margin-left: auto;
} */
.logo {
  margin-right: auto;
}
