* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 32px;
}
label {
  position: relative;
}
input[type="checkbox"] {
  /* 初期化 */
  opacity: 0;
  position: absolute;
  top: -10px;
  left: -20px;
  z-index: 2;
}
input[type="checkbox"] + .checkbox {
  display: inline-block;
  position: relative;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 40px;
  margin-bottom: 40px;
  font-size: 24px;
}
input[type="checkbox"] + .checkbox::before {
  position: absolute;
  top: 0;
  left: -32px;
  content: "";
  width: 24px;
  height: 24px;
  border: 2px solid #102c57;
  border-radius: 8px;
  background: #fff;
  line-height: 1;
  vertical-align: middle;
}
/* チェックなし */
input[type="checkbox"] + .checkbox::after {
  display: none;
  content: "";
}
/* チェックあり */
input[type="checkbox"]:checked + .checkbox::after {
  display: block;
  content: "";
  position: absolute;
  top: 0px;
  left: -24px;
  width: 10px;
  height: 16px;
  border-bottom: 4px solid #102c57;
  border-right: 4px solid #102c57;
  transform: rotate(45deg);
}
