* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background: #050c9c;
  color: #fff;
  padding: 16px;
  border-radius: 16px;
  width: 320px;
  font-size: 24px;
  margin-bottom: 16px;
}
.btn1 {
  position: relative;
}
.btn1::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 24px;
  width: 8px;
  height: 8px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  transform: rotate(45deg) translateY(-60%);
}
.btn2 span {
  font-size: 14px;
  display: block;
}
