* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: red;
  /* width: 400px; */
  height: 400px;
  /* 400pxか画面の25％のうち小さい方を採用する */
  width: min(400px, 25vw);
  /* これと同じ */
  /* width: 25vw;
  max-width: 400px; */
}
.wrapper {
  background: blue;
  /* width: 400px; */
  height: 400px;
  /* 400pxか画面の25％のうち大きい方を採用する */
  width: max(400px, 25vw);
  /* これと同じ */
  /* width: 25vw;
  min-width: 400px; */
}
.inner {
  background: green;
  /* width: 400px; */
  height: 400px;
  /* 100px以上300px以下の範囲で25vwを取ろうとする */
  width: clamp(100px, 25vw, 300px);
  /* これと同じ */
  /* width: 25vw;
  min-width: 100px;
  max-width: 300px; */
}
