* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
article {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
p {
  color: #666;
}
p.anime {
  animation: scroll-anime;
  animation-timeline: view();
}
@keyframes scroll-anime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
