* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  /* 横の間隔 */
  column-gap: 40px;
  /* 縦の間隔 */
  row-gap: 20px;
  /* 繰り返し数、サイズ */
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: repeat(4, 1fr); */
}
.image img {
  width: 100%;
}
