* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 16px;
  background: #eee;
}
.cards {
  width: 1000px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  width: calc(1000px / 3);
  padding: 56px 40px;
  background: #fff;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}
/* 1番目 */
/* .card:nth-child(1) {
  background: yellow;
} */
/* これでもOK  */
/* .card:first-child {
  background: yellow;
} */
/* 2番目 */
/* .card:nth-child(2) {
  background: yellow;
} */
/* 偶数(nは0から入る) */
/* .card:nth-child(2n) {
  background: yellow;
} */
/* 奇数 */
/* .card:nth-child(2n + 1) {
  background: yellow;
} */
/* これでもOK  */
/* .card:nth-child(2n - 1) {
  background: yellow;
} */
/* 3の倍数 */
/* .card:nth-child(3n) {
  background: yellow;
} */
/* n番目以降の全てを指定する */
.card:nth-child(n + 4) {
  background: yellow;
}
